 /* .home{
    background-color: rgba(0, 0, 139, 0.212);
    width: 100%;
    
    
}  */

.head{
    border-bottom: 1px solid blue;
    color: goldenrod;
    font-weight: 800;
    text-transform: uppercase;
}
.button1{
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    width: 80px;
    height: 30px;
}
